.vscode
mavsim_python/.idea
mavsim_python/.vscode
mavsim_python/venv
mavsim_matlab
mavsim_simulink
.idea
venv
mavsim_python
chap2/__pycache__
chap3/__pycache__
chap4/__pycache__
chap5/__pycache__
chap6/__pycache__
message_types/__pycache__
parameters/__pycache__
state_plotter/__pycache__
tools/__pycache__
chap7/__pycache__
parameters/__init__.pyc 
parameters/simulation_parameters.pyc 
.ipynb_checkpoints/
Untitled.ipynb
